// Normally mainpage styles
.content
	padding: 25px 0 80px
	@extend %center 
.breadcrumbs
	margin-bottom: 50px
	ul
		font-size: 0
		li
			position: relative
			display: inline-block
			vertical-align: middle
			margin-right: 8px
			font-size: 13px
			color: #252525
			&:before
				content: "/"
				display: inline-block
				margin-right: 8px
			&:first-child
				&:before
					display: none		
			a
				font-size: 13px
				color: #252525
				text-decoration: none
				transition: color 200ms
				&:hover
					color: #48ab46

// product
.product
	.product__info
		+clr
	.product__gallery
		float: left
		width: 440px
		padding: 0 20px
	.product__details
		float: right
		width: 480px
	.product__category
		font-size: 11px
		color: #252525
		text-transform: uppercase
	.product__name
		position: relative
		padding-bottom: 10px
		margin-bottom: 30px
		font-size: 30px
		color: #333 		
		&:after
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 60px
			height: 1px 
			background: #f3f1eb
	.product__list
		position: relative
		max-width: 350px
		padding-bottom: 10px
		margin-bottom: 30px
		&:after
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 60px
			height: 1px 
			background: #f3f1eb
		li
			position: relative
			margin-bottom: 5px
			padding-left: 14px 
			font-size: 13px
			color: #898989
			&:before
				content: ""
				position: absolute
				top: 5px
				left: 0
				width: 4px
				height: 4px
				border-radius: 50%
				background: #000 
			a
				color: #48ab46
				text-decoration: none
	.porduct__order
		+clr
		margin-bottom: 25px
	.product__price
		float: left
		padding-right: 25px
		border-right: 1px solid #ece9e0
		margin-right: 15px 
		font-size: 30px
		text-transform: uppercase
		color: #252525
	.product__weight
		float: left
		padding: 10px 0 
		font-size: 13px
		color: #252525
		span, i
			display: inline-block
			vertical-align: middle
		i
			font-size: 4px
			margin-left: 8px
	.product__add
		+clr
		margin-bottom: 50px 
		.spinner
			float: left
			margin-right: 17px
	.procuct__likes
		+clr
		margin-bottom: 50px
		.wishlist-btn
			float: left
			padding-right: 15px
			border-right: 1px solid #ece9e0
			margin-right: 17px
		.socials
			float: left				
							  				 		  
.gallery
	width: 100%
	.gallery__view
		margin-bottom: 20px
	.gallery__item-small
		text-align: center
		cursor: pointer
		img
			display: inline-block
	
.spinner
	+clr
	width: 96px 
	border: 1px solid #eaedee
	border-radius: 5px
	height: 32px
	.spinner__value
		float: left
		width: 33px
		height: 30px
		border: 1px solid #eaedee
		border-width: 0 1px 0 1px
		font-size: 13px
		color: #8d9499
		text-align: center
		line-height: 30px 
	.spinner__minus, .spinner__plus
		float: left
		width: 30px
		height: 30px
		background: none
		font-size: 28px
		color: #48ab46
		vertical-align: middle
		text-align: center
		+mp  
		line-height: 1
	&.spinner_small
		width: 87px
		.spinner__value
			width: 30px
			height: 27px
		.spinner__minus, .spinner__plus
			width: 27px 
			height: 27px		
.substitution
	.substitution__title
		font-size: 18px
		color: #615b55
		+mpsb
	.substitution__item
		padding-right: 20px
		font-size: 13px
		color: #6d6c6c
		+mp
	.substitution__name
		margin-bottom: 15px
	.substitution__price
		+clr
		span
			float: left
		small
			float: right
			font-size: 13px
			color: #c2cbce  		
		 	 
// tabs
.tabs
	border-top: 1px solid #f5f5f5 
	.tabs__nav
		padding: 10px 25px 50px
		+clr
		li
			float: left
			margin-left: 70px
			&:first-child
				margin-left: 0 
			a
				font-size: 13px
				color: #333
				text-decoration: none
				text-transform: uppercase
				transition: color 200ms
				&:hover, &.active
					color: #6d8e01
.reviews
	+clr
	.reviews__left
		float: left
		width: 325px
		padding-left: 35px
		font-size: 13px
		color: #363636
	.review__head
		margin-bottom: 15px
		span
			color: #ed1c24
	.reviews__right
		overflow: hidden
	.reviews__item
		margin-bottom: 15px
		label
			display: block
			p
				font-size: 13px
				color: #363636
				padding-left: 20px
				margin-bottom: 5px
			input[type="text"], textarea
				display: block
				width: 100% 
				height: 26px
				border: 1px solid #efece5
				padding: 0 10px
				font-size: 13px   	
			textarea
				height: 100px
				padding: 10px  
				resize: none	
	.reviews__table
		width: 100%
		border-collapse: collapse
		border: 1px solid #efece5
		font-size: 13px
		color: #363636 
		thead
			background: #c2cbce
			tr
				td
					height: 25px
					vertical-align: middle
					font-size: 13px
					color: #252525
					text-align: center  
					&:first-child
						width: 320px
		tbody
			tr
				td
					text-align: center
					height: 35px
					vertical-align: middle
					padding: 0 20px 
					&:first-child
						text-align: left					 
.item-slider-wrap
	.item-slider__title
		margin-bottom: 40px
		+mpsb
		text-align: center
		font-size: 28px
		color: #615b55
	.item
		padding-right: 30px	 

.item
	display: block
	.item__img
		display: block
		margin-bottom: 20px
		height: 150px
		+vertical
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
	.item__descr
		min-height: 100px		
	.item__title
		display: block
		margin-bottom: 15px
		font-size: 14px
		color: #6d6c6c
		text-decoration: none
	.item__discount
		margin-bottom: 15px 
		font-size: 13px
		color: #fe4365
	.item__price
		+clr
		margin-bottom: 15px
		span
			float: left
			font-size: 15px
			color: #6d6c6c
		small
			float: right
			font-size: 13px
			color: #c2cbce 	
	.item__buy
		+clr
		.spinner
			float: left
		.btn
			float: right
			padding: 0 8px 	 	 	  		

// footer
.footer
	position: relative
	padding: 35px 0 40px 
	border-top: 1px solid #f3f5f5
	& > .content
		padding: 0 
	.footer__left
		float: left
		width: 260px
		margin-right: 70px
		.socials
			padding-bottom: 10px
			margin-bottom: 15px
			border-bottom: 2px dotted #cbc3b6
	.footer__col
		float: left
		width: 160px
		ul

	.footer__title
		+mp
		font-size: 11px
		text-transform: uppercase
		color: #252525
		margin-bottom: 20px
	.footer__links
		li
			line-height: 1
			a
				font-size: 11px
				color: #898989
				text-decoration: none
				+mp	
.copyrights
	font-size: 11px
	+mp
	color: #898989
	p
		margin-bottom: 10px 

.banner-wide
	margin-bottom: 30px 
	img
		display: block
		width: 100%
.categories
	margin-bottom: 40px
	font-size: 0
	.categories__item
		display: inline-block
		vertical-align: top
		width: 208px
		padding: 15px
		margin-left: 46px 
		border: 1px solid #e8e8e8
		text-align: center
		text-decoration: none
		transition: box-shadow 200ms
		&:hover
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08)
		&:first-child
			margin-left: 0
	.categories__img
		height: 160px
		+vertical
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100% 
	.categories__title
		+mp
		font-size: 16px
		color: #444
		margin-bottom: 5px
	.categories__text
		+mp
		font-size: 12px
		color: #888

// catalog
.catalog
	position: relative
	.catalog__topper
		+clr
		border: 1px solid #f2f2f2
	.catalog__left
		float: left
		width: 200px
		padding: 8px 19px 
		+mp
		font-size: 16px
		color: #7b7a7a
	.catalog__sort
		float: left
		padding: 10px 0 
		font-size: 0
		li
			position: relative
			display: inline-block
			vertical-align: middle
			padding-left: 17px
			margin-left: 17px 
			&:before
				content: "|"
				position: absolute
				top: 0
				left: 0
				font-size: 14px
				color: #8D9499
			&:first-child
				padding-left: 0
				&:before
					content: ""  
			a
				font-size: 14px
				color: #8d9499
				text-decoration: none
				transition: color 200ms
				&:hover, &.active
					color: #f78f1e
	.catalog__view
		float: right
		padding: 15px 18px 0 0
		ul
			font-size: 0
			li
				display: inline-block
				vertical-align: middle
				margin-left: 12px
				&:first-child
					margin-left: 0 
				a
					display: block
					font-size: 12px
					color: #615b55
					opacity: 0.6
					transition: opacity 200ms
					&:hover, &.active
						opacity: 1  				
	.catalog__in
		+clr
	.catalog__filters
		float: left
		width: 200px
	.catalog__list
		overflow: hidden
		font-size: 0
		.item
			display: inline-block
			vertical-align: top
			width: 160px
			margin: 0 16px 40px 
		
.filters
	border: 1px solid #f2f2f2
	border-top: none 
	.filters__item
		padding: 3px 20px 
		border-top: 1px solid #f2f2f2
		&:first-child
			border-top: none 								   	 			  				 

// sidebar
.out_wide
	.content, .center
		max-width: 1240px
		padding-right: 270px	
.sidebar
	position: fixed
	top: 0
	bottom: 0
	width: 240px
	background: #fff
	border-left: 1px solid #e6e6e6
	border-right: 1px solid #e6e6e6
	z-index: 10
	.sidebar__in
		position: relative
		height: 100% 
		
.cart
	position: relative
	height: 100%
	padding: 45px 0 105px		
	.cart__topper
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 45px
		padding: 13px 15px 13px 50px 
		background: #48ab46
		text-align: right
		+mp
		font-size: 15px
		color: #f3f3f3 
		&:before
			content: "\EA02"
			position: absolute
			top: 12px
			left: 15px
			@extend %icon
			font-size: 20px
			color: #f3f3f3  	 
	.cart__wrap
		height: 100%
		overflow-y: auto
		padding: 23px 0 
	.cart__bottom
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 105px
		.btn
			display: block
			height: 44px
			border-radius: 0
			width: 100%
			text-decoration: none
			text-align: center
			line-height: 44px
			font-size: 18px
	.cart__login
		border-top: 1px solid #e6e6e6
		padding: 11px 10px
		font-size: 14px
		color: #727272
		+mp
		a
			text-decoration: none
			color: #26ade4
	.cart__list
		padding: 0 10px
	.cart__item
		+clr
		margin-top: 40px
		&:first-child
			margin-top: 0 
		.counter
			float: left
			width: 22px
			margin-right: 12px
	.cart__info
		+clr
	.cart__img
		float: left
		width: 65px
		img
			max-width: 100%
	.cart__details
		overflow: hidden
		font-size: 13px
		color: #6d6c6c
	.cart__title
		margin-bottom: 20px	
	.cart__discount
		margin-bottom: 20px
		color: #fe4365
	.cart__price
		margin-bottom: 15px
		font-size: 14px
		text-transform: uppercase
	.cart__add
		display: inline-block
		font-size: 0
		color: #505050
		text-decoration: none
		background: none 
		i, span
			display: inline-block
		span
			font-size: 13px
			margin-left: 10px 
		i
			font-size: 14px 				 			
.counter
	position: relative
	text-align: center
	button
		background: none
		font-size: 5px
		color: #989898
	.counter__value
		padding: 6px 0
		font-size: 12px
		color: #505050
		+mp
.reserve
	+clr
	margin-bottom: 18px
	.reserve__left
		position: relative
		float: left
		text-align: center
		width: 66px
		i
			font-size: 24px
			color: #000
	.reserve__right
		overflow: hidden
		font-size: 14px
		color: #6d6c6c
		+mp
		p
			margin-bottom: 10px
	.reserve__btn
		height: 30px
		padding: 0 13px 
		vertical-align: middle
		border-radius: 4px
		background: #f78f1e
		+mp
		font-size: 14px
		color: #fff
.total
	position: relative
	padding: 10px
	margin-bottom: 30px
	background: #fefcee
	.total__row
		+clr
		font-size: 14px
		color: #505050  
		&:first-child
			margin-bottom: 15px
			font-size: 17px
			+mpsb
	.total__col
		float: right
		&:first-child
			float: left
.cart-slider
	position: relative
	padding: 30px 0 
	.cart-slider__item			
		+clr
		padding: 0 30px
		& > a
			display: block
			text-decoration: none
	.cart-slider__img
		float: left
		width: 65px
		img
			max-width: 90%
	.cart-slider__title
		overflow: hidden
		font-size: 13px
		color: #6d6c6c 	














			 								