footer.footer
	.content
		.footer__left
			ul.socials
				li
					a(href="#")
						i.icon-fb
				li
					a(href="#")
						i.icon-tw
				li
					a(href="#")
						i.icon-instagram					
				li
					a(href="#")
						i.icon-dribbble
			.copyrights
				p © 2015 choithrams.com
				p Info@choithrams.com
		.footer__col
			.footer__title store
			ul.footer__links
				li
					a(href="#") Fixies
				li
					a(href="#") City Bikes
				li
					a(href="#") Glow
				li
					a(href="#") Wheelsets
				li
					a(href="#") Accessories
				li
					a(href="#") Sale
				li
					a(href="#") Clothing
				li
					a(href="#") Shop by Size
		.footer__col
			.footer__title infomation
			ul.footer__links
				li
					a(href="#") New products
				li
					a(href="#") Top sellers
				li
					a(href="#") Special products
				li
					a(href="#") Manufacturers
				li
					a(href="#") Suppliers
				li
					a(href="#") Our stores
		.footer__col
			.footer__title my account
			ul.footer__links
				li
					a(href="#") My account
				li
					a(href="#") Personal information
				li
					a(href="#") Addresses
				li
					a(href="#") Discount
				li
					a(href="#") Orders history
				li
					a(href="#") Your Vouchors
		.footer__col
			.footer__title CUSTOMER SERVICE
			ul.footer__links
				li
					a(href="#") Help & Contact
				li
					a(href="#") Shipping & taxes
				li
					a(href="#") Return policy
				li
					a(href="#") Careers
				li
					a(href="#") Affiliates
				li
					a(href="#") Legal Notice														
							
















