header.header
	.topper
		.center
			ul.topper__menu
				li
					a(href="#") Loyalty card
				li
					a(href="#") Store locator	
				li
					a(href="#") Contact
				li
					a(href="#") Track order
	.center
		.header__in				
			.logo
				a(href="index.html")
					img(src="img/logo.svg", width="196", alt="Cloithrams")
			.search
				input(type="text", placeholder="Search by product or brand")
				button(type="submit")
					i.icon-search
			.header__user
				.header__basket
					a(href="#")
						i.icon-basket
				.login
					p
						a(href="#").signup Hello. Sign in
					p
						a(href="#") My Account
	.header__bottom
		.center
			.menu
				button.menu__btn.js-menu-btn All Departments
			.dropdown.js-menu
				.dropdown__in
					.dropdown__col.narrow
						ul.dropdown__menu
							li Fresh
							li Frozen
							li Cooking
							li Beverages
							li Baby
							li Breakfast & Snacking
							li Household
							li Pets
							li Health & Beauty
							li Kiosk
					.dropdown__col.mid
						ul.dropdown__links
							li
								a(href="#") Vegetables
							li
								a(href="#") Salad Vegetables
							li
								a(href="#") Fruits
							li
								a(href="#") Meat
							li
								a(href="#") Bakery
							li
								a(href="#") Cheese & Creams
							li
								a(href="#") Chicken & Poultry
							li
								a(href="#") Chilled Foods
							li
								a(href="#") Chilled Foods
							li
								a(href="#") Delicatessen	
							li
								a(href="#") Fish & Seafood						
							li
								a(href="#") Juices
							li
								a(href="#") Milk, Butter, Eggs & Desserts
							li
								a(href="#") Yoghurts
						.dropdown__more
							a(href="#") View all in fresh
					.dropdown__col.mid
						ul.dropdown__links
							li
								a(href="#") Asparagus & Artichoke
							li
								a(href="#") Beans, Peas & Corn
							li
								a(href="#") Brocoli & Brussles
							li
								a(href="#") Cabbage & Cauliflower
							li
								a(href="#") Chillies & Pepper
							li
								a(href="#") Courgette & Aubergine
							li
								a(href="#") Onions & Shallots
							li
								a(href="#") Herbs, Garlic & Ginger
							li
								a(href="#") Leeks
							li
								a(href="#") Spinach, Lettuce & Greens
							li
								a(href="#") Stem & Root
					.dropdown__col
						.brands
							.brands__title Dedicated Brands
							ul.brands__list
								li
									a(href="#")
										img(src="img/olay.jpg", alt="")
										p Olay Regenerist
								li
									a(href="#")
										img(src="img/frys.jpg", alt="")
										p Fry’s Vegetarian
								li
									a(href="#")
										img(src="img/tesco.jpg", alt="")
										p Tesco Finest			
			ul.submenu
				li
					a(href="#").offers
						i.icon-offer
						span Weekly offers
				li
					a(href="#")
						i.icon-food
						span Recipes & Tips
			.header__bottom-right
				a(href="#") FREE delivery on AED100+ orders

















