extends _layout

block title
	title Home

	.out
		.main
			include _header
			.content
				.main-slider.js-slider
					.main-slider__item
						img(src="img/halo-banner.jpg", alt="")
					.main-slider__item
						img(src="img/halo-banner.jpg", alt="")
					.main-slider__item
						img(src="img/halo-banner.jpg", alt="")
					.main-slider__item
						img(src="img/halo-banner.jpg", alt="")
				.item-slider-wrap
					h2.h2 Featured grocery products
					.item-slider.js-item-slider
						.item
							.item__img
								img(src="img/product1-small.jpg", alt="")
								.winter-action
									i.icon-snow
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add
						.item
							.item__img
								img(src="img/product2-small.jpg", alt="")
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add
						.item
							.item__img
								img(src="img/product3-small.jpg", alt="")
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add
						.item
							.item__img
								img(src="img/product4-small.jpg", alt="")
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add
						.item
							.item__img
								img(src="img/product1-small.jpg", alt="")
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add
						.item
							.item__img
								img(src="img/product1-small.jpg", alt="")
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add					
				//- banners
				.banner
					.banner__col
						img(src="img/banner1.jpg", alt="")
					.banner__col
						img(src="img/banner2.jpg", alt="")
				.item-slider-wrap
					h2.h2 General home & life products
					.item-slider.js-item-slider
						.item
							.item__img
								img(src="img/product1-small.jpg", alt="")
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add
						.item
							.item__img
								img(src="img/product2-small.jpg", alt="")
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add
						.item
							.item__img
								img(src="img/product3-small.jpg", alt="")
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add
						.item
							.item__img
								img(src="img/product4-small.jpg", alt="")
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add
						.item
							.item__img
								img(src="img/product1-small.jpg", alt="")
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add
						.item
							.item__img
								img(src="img/product1-small.jpg", alt="")
							.item__title OfferCoca Cola Regular 24 X 330Ml Pack
							.item__discount Was 13.50 Now 10.50
							.item__price
								span AED 8.50
							.item__buy
								.spinner.spinner_small
									button.spinner__minus -
									.spinner__value 1
									button.spinner__plus +
								button.btn Add				
				//- post-list
				.post-list
					h2.h2 Featured recipes
					.post-list__wrap
						.post
							.post__img
								a(href="#")
									img(src="img/post-img1.jpg", alt="")
							.post__content
								a(href="#").post__title Squash, sage & chestnut rolls
								.post__details Posted by mekirindesign / Street / 5 Comments
								.post__text He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. 
								a(href="#").post__more more info
						.post
							.post__img
								a(href="#")
									img(src="img/post-img2.jpg", alt="")
							.post__content
								a(href="#").post__title Squash, sage & chestnut rolls
								.post__details Posted by mekirindesign / Street / 5 Comments
								.post__text He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. 
								a(href="#").post__more more info
						.post
							.post__img
								a(href="#")
									img(src="img/post-img3.jpg", alt="")
							.post__content
								a(href="#").post__title Squash, sage & chestnut rolls
								.post__details Posted by mekirindesign / Street / 5 Comments
								.post__text He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. 
								a(href="#").post__more more info
						.post
							.post__img
								a(href="#")
									img(src="img/post-img4.jpg", alt="")
							.post__content
								a(href="#").post__title Squash, sage & chestnut rolls
								.post__details Posted by mekirindesign / Street / 5 Comments
								.post__text He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. 
								a(href="#").post__more more info
					.post-list__more
						a(href="#") see all Recipes								
		//- footer
		include _footer																





















		