extends _layout

block title
	title Store_Olay

	.out.out_wide
		.main
			include _header
			.content
				.banner-wide
					img(src="img/banner-wide.jpg", alt="")
				.categories
					a(href="#").categories__item
						.categories__img
							img(src="img/popular1.jpg", alt="")
						.categories__title Face wash
						.categories__text Olay Gentle Foaming Face Wash is formulated specifically for the of sensitive skin.
					a(href="#").categories__item
						.categories__img
							img(src="img/popular2.jpg", alt="")
						.categories__title Day Cream
						.categories__text Even the jawline—with a high concentration of our signature amino-peptide complex.
					a(href="#").categories__item
						.categories__img
							img(src="img/popular3.jpg", alt="")
						.categories__title Moistursers
						.categories__text A daily facial moisturiser that provides 7 anti ageing benefits in 1, plus SPF 15 to help protect.
					a(href="#").categories__item
						.categories__img
							img(src="img/popular4.jpg", alt="")
						.categories__title Regenerist Collection
						.categories__text Anti-ageing ingredients that reduces the appearance of 4 years in just 4 weeks.
				//- catalog
				.catalog
					.catalog__topper
						.catalog__left
							p Refine by
						ul.catalog__sort
							li
								a(href="#").active Most Popular 
							li
								a(href="#") Alphabetical A-Z
							li
								a(href="#") Price low to high
						.catalog__view
							ul
								li
									a(href="#")
										i.icon-list
								li
									a(href="#").active
										i.icon-grid				
					.catalog__in
						.catalog__filters
							ul.filters
								li.filters__item
									label.checkbox
										input(type="checkbox")
										span Face Cream
								li.filters__item
									label.checkbox
										input(type="checkbox")
										span Moisturisers
								li.filters__item
									label.checkbox
										input(type="checkbox")
										span Face Wipes
								li.filters__item
									label.checkbox
										input(type="checkbox")
										span Make Up Remover
								li.filters__item
									label.checkbox
										input(type="checkbox")
										span Face Wash							
								li.filters__item
									label.checkbox
										input(type="checkbox")
										span Scrubs
								li.filters__item
									label.checkbox
										input(type="checkbox")
										span Skin Care
								li.filters__item
									label.checkbox
										input(type="checkbox")
										span Cleansers & Toners
						.catalog__list
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferCoca Cola Regular 24 X 330Ml Pack
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferOlay Total Effects Moisturiser Day Cream Spf 15...
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferCoca Cola Regular 24 X 330Ml Pack
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferCoca Cola Regular 24 X 330Ml Pack
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add						
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferCoca Cola Regular 24 X 330Ml Pack
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferCoca Cola Regular 24 X 330Ml Pack
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferCoca Cola Regular 24 X 330Ml Pack
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferCoca Cola Regular 24 X 330Ml Pack
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add						
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferCoca Cola Regular 24 X 330Ml Pack
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferCoca Cola Regular 24 X 330Ml Pack
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferCoca Cola Regular 24 X 330Ml Pack
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add
							.item
								a(href="#").item__img
									img(src="img/popular1.jpg", alt="")
								.item__descr
									a(href="#").item__title OfferCoca Cola Regular 24 X 330Ml Pack
									.item__price
										span AED 8.50
										small (each)
								.item__buy
									.spinner.spinner_small
										button.spinner__minus -
										.spinner__value 1
										button.spinner__plus +
									button.btn Add						
		//- sidebar
		aside.sidebar
			.sidebar__in
				.cart
					.cart__topper
						p My shopping cart (12)
					.cart__wrap
						.reserve
							.reserve__left
								i.icon-lorry
							.reserve__right
								p Reserve a slot for either home delivery or collection
								button.reserve__btn Book now
						ul.total
							li.total__row
								.total__col	Cart total	
								.total__col	 AED 365.00
							li.total__row
								.total__col Discounts 		
								.total__col	AED 10.00
						.cart__list
							.cart__item
								.counter
									button.counter__up
										i.icon-arr-up
									.counter__value 3
									button.counter__down
										i.icon-arr-down
								.cart__info
									.cart__img
										img(src="img/product1-small.jpg", alt="")
									.cart__details		
										.cart__title OfferCoca Cola Regular 24 X 330Ml Pack	
										.cart__discount Was 13.50 Now 10.50
										.cart__price
											strong AED 10.50
										a(href="#").cart__add
											i.icon-check
											span Add substitute
							.cart__item
								.counter
									button.counter__up
										i.icon-arr-up
									.counter__value 3
									button.counter__down
										i.icon-arr-down
								.cart__info
									.cart__img
										img(src="img/product1-small.jpg", alt="")
									.cart__details		
										.cart__title OfferCoca Cola Regular 24 X 330Ml Pack	
										.cart__discount Was 13.50 Now 10.50
										.cart__price
											strong AED 10.50
										a(href="#").cart__add
											i.icon-check
											span Add substitute
						.cart-slider.js-cart-slider
							.cart-slider__item
								a(href="#")
									.cart-slider__img
										img(src="img/product2-small.jpg", alt="")
									.cart-slider__title OfferCoca Cola Regular 24 X 330Ml Pack
							.cart-slider__item
								a(href="#")
									.cart-slider__img
										img(src="img/product2-small.jpg", alt="")
									.cart-slider__title OfferCoca Cola Regular 24 X 330Ml Pack
							.cart-slider__item
								a(href="#")
									.cart-slider__img
										img(src="img/product2-small.jpg", alt="")
									.cart-slider__title OfferCoca Cola Regular 24 X 330Ml Pack				
					.cart__bottom
						.cart__login
							p You need to <a href="#">sign-in/register</a> to add items to your basket.
						a(href="#").btn Checkout		
		//- footer
		include _footer																





















		